.btn {
            text-decoration: none;
            color: var(--text-color);
            font-weight: 700;
            font-size: 20px;
            height: 60px;
            background-color: var(--second-color);
            padding: 18px 60px;
            line-height: 1.2em;
            border-radius: 10px;
            &_modcolor {
                background-color: #4B5320;
            }
}