
// CONNECT FONTS
@import 'base/fontface';
// CONNECT FONTS





// CONNECT LIBRARIES
@import 'libs/bootstrap-grid';
@import 'libs/bootstrap-reboot';
// CONNECT LIBRARIES
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,address {
    margin: 0;
    padding: 0;
}

