
// CONNECT FONTS
@import 'base/fontface';
// CONNECT FONTS





// CONNECT LIBRARIES
@import 'libs/bootstrap-grid';
@import 'libs/bootstrap-reboot';
// CONNECT LIBRARIES
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,address {
    margin: 0;
    padding: 0;
}

//CONECT MIXINS AND VARIABLES
@import 'base/mixins';
@import 'base/variables';
@import 'base/buttons';
//CONECT MIXINS AND VARIABLES


// CONNECT SECTIONS STYLES
@import 'blocks/header-section';
@import 'blocks/footer-section';
@import 'blocks/main-section';
@import 'blocks/brands-section';
@import 'blocks/advantages-section';
@import 'blocks/phone-section';
@import 'blocks/insurance-section';
@import 'blocks/details-section';
@import 'blocks/ways-section';
@import 'blocks/ouradress-section';
@import 'blocks/buysell-section';
@import 'blocks/info-section';