.advantages {
    height: 200px;
    background-color: var(--bg-maincolor);
    color: var(--text-color);
    padding-top: 50px;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        min-width: 260px;
        max-width: 290px;
        margin: 0 40px;
        align-items: center;
    }
    &__descr {
         p{
             font-weight: 400;
             font-size: 17px;
             width: 190px;
         }
    }
    &__title{
        font-weight: 700;
        font-size: 20px;
    }
    &__icon {
        margin-right: 35px;
    }
}