.brands {
    height: 90px;
    position: relative;
    &__wrapper {
        display: flex;
        width: 870px;
        margin: 0 auto;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;

    }
    &__item {
        width: 270px;
        height: 140px;
        box-shadow: -5px 20px 40px #000000;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

}