.buysell {
    min-height: 490px;
    background: url('../img/buy-sellBg.jpg') center center / cover no-repeat;
    padding: 100px 0 80px 0;
    color: var(--text-color);
    text-align: center;
    &__title {
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 65px;
    }
    &__text {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 90px;
    }
}