.insurance {
    padding: 40px 0px 20px 0;
    background-color: var(--bg-maincolor);
    p{
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color: var(--text-color);
        margin-bottom: 10px;
    }
}