.range {
    padding: 70px 0;
    &-descr {
        width: 970px;
        margin: 0 auto 70px auto;
        &__title {
            height: 70px;
            background-color: #4B5320;
            font-weight: 600;
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.2em;
        }
        &__about {
            background-color: #292727;
            padding: 30px 0;
        }
        &-item {
            min-height: 90px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            &__title {
                font-weight: 600;
                font-size: 30px;
            }
            &__text {
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            &__line {
                width: 240px;
                margin: 0 auto;
                border-top: 2px dashed white;
            }
        }
        &-grid {
            background-color: #292727;
            color: white;
            padding: 30px 100px;
            display: grid;
            grid-template-columns: repeat(2, minmax(220px, 250px));
            justify-content: space-between;
            row-gap: 20px;
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__title {
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: uppercase;
                }
                &__descr {
                    font-weight: 600;
                    font-size: 17px;
                    width: 195px;
                    padding-bottom: 15px;
                    text-align: center;
                    border-bottom: 2px dashed white;
                }
            }
        }
    }
}